@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #58ecec;
    background: #153548;
    background: linear-gradient(90deg, #153548, #044466);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
        user-select: none;
}

.titlee{
    border-radius: 50px;
    background: #093F5D;
    box-shadow: inset 20px 20px 18px #041c2a,
                inset -20px -20px 18px #0e6290;
    padding: 20px;
    color: #139c9c;
    text-shadow: 2px 0#03d6d6, 0 2px#03d6d6, -2px 0#03d6d6, 0 -2px #03d6d6;
}

.topp{
    background-color: #153548;
    position: relative;
    height: auto;
    width: 80%;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    background: #093F5D;
    box-shadow: inset 20px 20px 18px #041c2a,
                inset -20px -20px 18px #0e6290;
    transition: all 0.5s ease-in-out;
}
.infoo{
    max-width: 80%;
}

h1{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
p{
    font-family: 'Source Code Pro', monospace;
    text-align: justify;
    overflow: hidden;
}

.stik{
    position: sticky;
    float: right;
    top: -1px;
}

img{
    max-width: 500px;
    max-height: 600px;
    overflow: hidden;
    background: #093F5D;
    box-shadow:  8px 8px 14px #041925,
                 -8px -8px 14px #0e6595;
}

.anima{
  transition: all 0.5s cubic-bezier(0.57, -1.38, 0.27, 1.55);
}


span{
    background: #006863;
    box-shadow: inset 4px 3px 4px #002a28,
        inset -3px -2px 4px #00a69e;
}

li{
    background: #70AAE2;
}

.bop{
    max-width: 60%;
}

.topp:hover{
    background: linear-gradient(145deg, #094364, #073954);
    box-shadow:  8px 8px 14px #031925,
                -8px -8px 14px #0d6595;
}
